<div class="container">

    <div id="sm-create-done-title-slide">
        ShopMaster
    </div>

    <!-- Content -->
    <div id="sm-create-done-content">
        <h1>Your shopping list has been saved!</h1>

        <span style="color:#86B8E0;font-size:14pt;">Now go back to being awesome!</span>
        <br/>
        <div id="sm-create-done-instruct">When you want your shopping list back,
        direct your smartphone's browser back to ShopMaster and use the same email
        you used to make this list.</span>
        <br/>
        <button type="button" 
            class="btn btn-success btn-lg" 
            id="sm-got-it-btn" 
            ng-click="directBackToLanding()">
        Got It
        </button>
    </div>
    
</div>