<!-- jQuery UI -->
<script src="./js/jquery-ui-1.10.4.custom.min.js"></script>

<!-- This is where the popover for the tools is defined -->
<script type="text/ng-template" id="tools.html">
    <div style="font-size:11pt;color:#000000;width:250px;">
        <h4 style="color:#1671B8">Toggle Warnings</h4>
        <div ng-repeat="checkbox in checkboxes">
            <label>
                <input type="checkbox" value="{{checkbox.name}}" ng-checked="selectedBoxes.indexOf(checkbox.name) > -1" ng-click="toggleCheckbox(checkbox.name)"> <div style="width:12px;height:12px;display:inline-block;background-color:{{checkbox.color}}"></div> {{checkbox.name}}
            </label>
        </div>
        <h4 style="color:#1671B8">Find Similar Items</h4>
        <input name="categoryTextView"
            type="text"
            class="form-control"
            id="sm-category-text-entry" 
            ng-model="$parent.searchCategory"
            placeholder="Search for a category..."
            style="font-size:11pt;"
            typeahead="category.Name for category in categories | filter:$viewValue | limitTo:8">
    </div>
</script>

<script>
    $(document).ready(function() {
        
        $("#sm-logo-stats").hide();
        
        $(window).scroll(function() {
            if ($(window).scrollTop() > ($("#sm-output").position().top + 110)) {
                $("#sm-logo-name").slideUp();
                $("#sm-logo-stats").slideDown();
            }
            else {                  
                $("#sm-logo-stats").slideUp();
                $("#sm-logo-name").slideDown();
            }
        });
        
        $("#sm-item-text-entry").tooltip({ title: "Start by typing a grocery item.", 
                                        trigger: "focus", 
                                        placement: "top" });
        $("#sm-category-text-entry").tooltip({ title: "What kind of item do you think this would be categorized as?" 
                                                            + " For example, 'Sprite' would be 'soda'.", 
                                                    trigger: "focus", 
                                                    placement: "top" });
    });
</script>

<!-- Map Modal -->
<div class="modal fade" 
     id="mapModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myModalLabel" 
     aria-hidden="true"
     style="color:#000000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Map of 1322 South Main Street (Gucci Kroger)</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                <img src="./img/kroger_map.png" style="width:550px;">
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div id="sm-navi">
    
    <div id="sm-tools" class="col-md-4">
        <button type="button" 
                class="btn btn-primary" 
                style="margin-left:15px;" 
                id="sm-tools-btn"
                ng-click="onToolsClick()"
                popover>
            <span class="glyphicon glyphicon-th"></span> Tools
        </button>
        <button type="button" 
                class="btn btn-primary"
                style="display:inline-block;"
                id="sm-assist-btn"
                data-toggle="modal"
                data-target="#mapModal">
            <span class="glyphicon glyphicon-screenshot"></span> Map
        </button>
    </div>
    
    <div id="sm-logo" class="col-md-4">
        <div id="sm-logo-name">
            ShopMaster
        </div>
        <div id="sm-logo-stats">
            <span style="font-size:26pt;color:#FFFFFF;">{{projectedTime}}</span> mins,
            <span style="font-size:26pt;color:#FFFFFF;">{{items.length}}</span> items
        </div>
    </div>
    
    <div id="sm-done" class="col-md-4">
        <button type="button" 
                class="btn btn-success" 
                ng-click="sendToPhone()" 
                ng-disabled="disableSendToPhone || items.length < 1"
                style="margin-right:15px;">
            Send to Phone <span class="glyphicon glyphicon-send"></span>
        </button>
    </div>
    
</div>

<div class="container">
    
    <div id="sm-output">
        <span style="font-size:72pt;color:#FFFFFF;" id="sm-projected-time">{{projectedTime}}</span> mins
        <span style="font-size:72pt;margin-left:50px;color:#FFFFFF;">{{items.length}}</span> items
    </div>
    
    <div id="sm-create-entry">
        
        <form role="form" name="createForm" novalidate>
            
            <div class="col-md-5">
                <input name="itemTextView"
                    type="text"
                    class="form-control"
                    ng-model="tbaItem"
                    id="sm-item-text-entry" 
                    placeholder="Type a grocery item..."
                    ng-click="destroyTooltips()"
                    required>
            </div>
            
            <div class="col-md-5">
                <input name="categoryTextView"
                    type="text"
                    class="form-control"
                    id="sm-category-text-entry" 
                    ng-model="tbaCategory"
                    placeholder="Categorize this item..."
                    style="width:445px"
                    typeahead="category.Name for category in categories | filter:$viewValue | limitTo:8"
                    required>
            </div>
            
            <div class="col-md-1" style="margin-left:20px;">
                <button type="button" 
                        class="btn btn-info"
                        ng-disabled="createForm.$invalid"
                        ng-click="addItem()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
            
        </form>
        
    </div>
    
    <div class="col-md-12" style="padding-top:25px;">
        <h1 style="text-align:center;">Your List:</h1>
    </div>
    
    <div id="sm-list" class="col-md-12" style="margin-top:-20px;margin-bottom:50px;">
        
        <!-- Markers -->
        <div ng-show="items.length != 0">
            <div id="aisle-marker">
                Aisle
            </div>
            <div id="item-marker">
                Item
            </div>
        </div>
        
        <!-- No list -->
        <div id="sm-no-list" ng-show="items.length == 0">
            <span style="font-size:48pt;">No items :(</span>
            <br/>
            Maybe you should try adding some items to your list?
        </div>
        
        <!-- List -->
        <ul sortable>
            <li ng-repeat="item in items">

                <div id="sm-item-index">
                    {{$index + 1}}
                </div>
                <div class="item-container" 
                     ng-class="{ refrigerated: item.refrigerated && isSelected('Refrigerated'),
                                 frozen: item.frozen && isSelected('Frozen'),
                                 fragile: item.fragile && isSelected('Fragile'),
                                 highlighted: highlightedCategory($index)}"
                     id="sm-item-container-{{$index}}">

                    <div class="col-md-1" style="font-size:20pt;margin-top:8px;">
                        {{item.aisle}}
                    </div>
                    <div class="col-md-8">
                        {{item.name}}
                        <br />
                        <span style="font-size:12pt;">{{item.category}}</span>
                    </div>
                    <button type="button" 
                        class="btn btn-danger"
                        style="float:right;margin-top:.7em;"
                        ng-click="removeItem($index)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>

                </div>
            </li>
        </ul>
    </div>
    
</div>