<!-- jQuery UI -->
<script src="./js/jquery-ui-1.10.4.custom.min.js"></script>

<!-- Modal -->
<div class="modal fade" 
     id="confirmModal" 
     tabindex="-1" 
     role="dialog" 
     aria-labelledby="myModalLabel" 
     aria-hidden="true"
     style="color:#000000;font-size:12pt;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Done with your shopping trip? 
                <br/><br/>
                Choosing totally will delete your shopping list from the cloud.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Not Yet</button>
                <button type="button" class="btn btn-primary" ng-click="finishTrip()">Totally</button>
            </div>
        </div>
    </div>
</div>

<!-- Content -->
<div id="sm-navi">

    <div id="sm-logo-mob" class="col-xs-6">
        <div id="sm-logo-name">
            ShopMaster
        </div>
    </div>

    <div id="sm-done" class="col-xs-6">
        <button type="button" 
                class="btn btn-success" 
                style="margin-right:15px;"
                data-toggle="modal" 
                data-target="#confirmModal">
            Done <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>

</div>

<div id="sm-list-mob">

    <ul>
        <li ng-repeat="item in items">
            <div class="item-container" ng-class="{smitemdisabled: item.disabled}">
                <div class="col-xs-1">
                    <label>
                        <input type="checkbox" style="position: relative; top: 20px" ng-model="itemCheckBox" ng-change="disableItem($index)"/>
                    </label>
                </div>

                <div class="col-xs-8" style="text-align: left; padding-top: 3px;">
                    {{item.name}}
                    <br />
                    <span style="font-size:12pt;">{{item.category}}</span>
                </div>

                <div class="col-xs-1" style="text-align: right; padding-top: 13px; font-size: 20pt; margin-left: 15px;">
                    {{item.aisle}}
                </div>
                <br />
            </div>
        </li>
    </ul>

</div>
<div id="sm-footer">
    {{projectedTime}}
    {{numItems}}
    <form id="sm-quick-add-form" role="form" name="quickAddForm" novalidate>
            
            <div class="col-xs-9">
                <input name="itemTextView"
                    type="text"
                    ng-model="tbqaItem"
                    class="form-control"
                    id="sm-quick-add-item-text-entry" 
                    placeholder="Quick add an item..."
                    required>
            </div>

            <div class="col-xs-3">
                <button type="button" 
                        class="btn btn-info"
                        ng-click="quickAddItem()"
                        ng-disabled="quickAddForm.$invalid">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
            
        </form>
</div>

