<!-- jQuery UI -->
<script src="./js/jquery-ui-1.10.4.custom.min.js"></script>

<!-- Content -->
<div id="sm-navi">
    
    <div id="sm-tools">
        <button type="button" class="btn btn-primary" style="margin-left:15px;">
            <span class="glyphicon glyphicon-th"></span> Tools
        </button>
    </div>
    
    <div id="sm-logo">
        ShopMaster
    </div>
    
    <div id="sm-done">
        <button type="button" class="btn btn-success" style="margin-right:15px;">
            Send to Phone <span class="glyphicon glyphicon-send"></span>
        </button>
    </div>
    
</div>

<div class="container">

    <div id="sm-create-entry">
        
        <form role="form" name="createForm" novalidate>
            
            <div class="col-md-5">
                <input name="itemTextView"
                    type="text"
                    class="form-control"
                    ng-model="tbaItem"
                    id="sm-item-text-entry" 
                    placeholder="Type a grocery item..."
                    required>
            </div>
            
            <div class="col-md-5">
                <input name="categoryTextView"
                    type="text"
                    class="form-control"
                    id="sm-category-text-entry" 
                    ng-model="tbaCategory"
                    placeholder="Categorize this item..."
                    style="width:445px"
                    typeahead="category for category in categories | filter:$viewValue | limitTo:8"
                    required>
            </div>
            
            <div class="col-md-1" style="margin-left:20px;">
                <button type="button" 
                        class="btn btn-info"
                        ng-disabled="createForm.$invalid"
                        ng-click="addItem()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
            
        </form>
        
    </div>
    
    <div class="col-md-12" style="padding-top:25px;">
        <h1 style="text-align:center;">Your List:</h1>
    </div>
    
    <div id="sm-list" class="col-md-12">
        
        <div id="sm-no-list" ng-show="items.length == 0">
            <span style="font-size:48pt;">No items :(</span>
            <br/>
            Maybe you should try adding some items to your list?
        </div>
        
        <ul sortable>
            <li ng-repeat="item in items">
                <div class="item-container">
                    
                    {{item.name}}
                    <br/>
                    <span class="sm-list-category">{{item.category}}</span>
                    
                    <button type="button" 
                        class="btn btn-danger"
                        style="float:right;margin-top:-1.5em;"
                        ng-click="removeItem($index)">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    
                </div>
            </li>
        </ul>
    </div>
    
</div>