<!-- jQuery UI -->
<script src="./js/jquery-ui-1.10.4.custom.min.js"></script>

<!-- This is where the popover for the tools is defined -->
<script type="text/ng-template" id="tools.html">
    <div style="font-size:11pt;color:#000000;width:250px;">
        <h4 style="color:#1671B8">Filters</h4>
        <label>
            <input type="checkbox"> Fragile
        </label>
        <br />
        <label>
            <input type="checkbox"> Frozen
        </label>
        <br />
        <h4 style="color:#1671B8">Highlight Category</h4>
        <input name="categoryTextView"
            type="text"
            class="form-control"
            id="sm-category-search-entry" 
            ng-model="searchCategory"
            placeholder="Search..."
            typeahead="category for category in categories | filter:$viewValue | limitTo:8">
    </div>
</script>

<!-- Content -->
<div id="sm-navi">
    
    <div id="sm-tools">
        <button type="button" class="btn btn-primary" style="margin-left:15px;" popover>
            <span class="glyphicon glyphicon-th"></span> Tools
        </button>
    </div>
    
    <div id="sm-logo">
        ShopMaster
    </div>
    
    <div id="sm-done">
        <button type="button" class="btn btn-success" style="margin-right:15px;">
            Send to Phone <span class="glyphicon glyphicon-send"></span>
        </button>
    </div>
    
</div>

<div class="container">
    
    <div id="sm-create-entry">
        
        <form role="form" name="createForm" novalidate>
            
            <div class="col-md-5">
                <input name="itemTextView"
                    type="text"
                    class="form-control"
                    ng-model="tbaItem"
                    id="sm-item-text-entry" 
                    placeholder="Type a grocery item..."
                    required>
            </div>
            
            <div class="col-md-5">
                <input name="categoryTextView"
                    type="text"
                    class="form-control"
                    id="sm-category-text-entry" 
                    ng-model="tbaCategory"
                    placeholder="Categorize this item..."
                    style="width:445px"
                    typeahead="category.Name for category in categories | filter:$viewValue | limitTo:8"
                    required>
            </div>
            
            <div class="col-md-1" style="margin-left:20px;">
                <button type="button" 
                        class="btn btn-info"
                        ng-disabled="createForm.$invalid"
                        ng-click="addItem()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
            </div>
            
        </form>
        
    </div>
    
    <div class="col-md-12" style="padding-top:25px;">
        <h1 style="text-align:center;">Your List:</h1>
    </div>
    
    <div id="sm-list" class="col-md-12" style="margin-bottom:50px;">
        
        <div id="sm-no-list" ng-show="items.length == 0">
            <span style="font-size:48pt;">No items :(</span>
            <br/>
            Maybe you should try adding some items to your list?
        </div>
        
        <ul sortable>
            <li ng-repeat="item in items">
                <div class="item-container">
                    
                    <div class="col-md-1" style="font-size:20pt;margin-top:8px;">
                        {{item.aisle}}
                    </div>
                    
                    <div class="col-md-8">
                        {{item.name}}
                        <br />
                        <span style="font-size:12pt;">{{item.category}}</span>
                    </div>
                    
                    <button type="button" 
                        class="btn btn-danger"
                        style="float:right;margin-top:.7em;"
                        ng-click="removeItem($index)">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                    
                    
                </div>
            </li>
        </ul>
    </div>
    
</div>