<!-- typeahead.js -->
<script src="./js/typeahead.jquery.js"></script>
<script src="./js/bloodhound.min.js"></script>
<script src="./js/combo.js"></script>

<!-- Content -->
<div id="sm-navi">
    
    <div id="sm-tools">
        <button type="button" class="btn btn-primary" style="margin-left:15px;">
            <span class="glyphicon glyphicon-th"></span> Tools
        </button>
    </div>
    
    <div id="sm-logo">
        ShopMaster
    </div>
    
    <div id="sm-done">
        <button type="button" class="btn btn-success" style="margin-right:15px;">
            Send to Phone <span class="glyphicon glyphicon-send"></span>
        </button>
    </div>
    
</div>

<div class="container">

    <div id="sm-create-entry">
        <form role="form" name="createForm" novalidate>
            
            <div class="col-md-5">
                <input name="itemTextView"
                    type="text"
                    class="form-control"
                    id="sm-item-text-entry" 
                    placeholder="Type a grocery item...">
            </div>
            
            <div class="col-md-5">
                <input name="categoryTextView"
                    type="text"
                    class="form-control"
                    id="sm-category-text-entry" 
                    data-provide="typeahead"
                    placeholder="Categorize this item..."
                    style="width:445px">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </div>
            
        </form>
        
    </div>
    
</div>